/vendor/
/node_modules/
node_modules/
npm-debug.log
yarn-error.log
/.phpunit.result.cache
/.phpunit.cache/
/coverage/
*.log
.DS_Store
Thumbs.db
.env
.env.backup
.env.production
auth.json
.phpactor.json
/public/build
/storage/pail
storage/*.key
.phpunit.result.cache
